In [1]:
import os
import json
import pandas as pd

#### Get data from multiple Json File.

In [2]:
json_files_path = 'D:\Pooja\Pandas\Store Analysis CategoryWise'

In [3]:
json_data_list = []

In [4]:
for filename in os.listdir(json_files_path):
    if filename.endswith('.json'):
        file_path = os.path.join(json_files_path, filename)
        with open(file_path, 'r') as file:
            json_data = json.load(file)
            json_data_list.append(json_data)

In [5]:
data = pd.json_normalize(json_data_list)

#### Create New json file with all data from different file.

In [6]:
output_json_file = 'AllData.json'
data.to_json(output_json_file, orient='records', lines=True)

#### Read json file.

In [7]:
output_json_file = 'AllData.json'
with open(output_json_file, 'r') as file:
    json_data = [json.loads(line) for line in file]

#### Make colums for category and Product in DataFrame.
#### Pandas.melt() unpivots a DataFrame from wide format to long format.
#### melt() function is useful to massage a DataFrame into a format where one or more columns are identifier variables, while all other columns, considered measured variables, are unpivoted to the row axis, leaving just two non-identifier columns, variable and value.

In [8]:
df = pd.json_normalize(json_data)
df = df.melt(var_name='Category', value_name='Product')
df

           Category                                            Product
0        Home Decor  [FAMILY PHOTO FRAME CORNICE, WHITE MURANO TWIS...
1        Home Decor  [GLASS CLOCHE LARGE, SMALL WHITE HEART OF WICK...
2        Home Decor  [FRENCH BLUE METAL DOOR SIGN 0, BOTANICAL ROSE...
3        Home Decor  [BUNNY WOODEN PAINTED WITH BIRD, BLACK CHERRY ...
4        Home Decor  [S/3 POT POURI CUSHIONS BLUE COLOURS, PINK/WHI...
...             ...                                                ...
1831  Cushion Cover                                               None
1832  Cushion Cover                                               None
1833  Cushion Cover                                               None
1834  Cushion Cover                                               None
1835  Cushion Cover                     [CARD HOLDER LOVE BIRD LARGE ]

[1836 rows x 2 columns]

#### Create an Excel file with Category and Product

In [9]:
ExcelFile = "FinalData.xlsx"
df.to_excel(ExcelFile, index=False)

In [10]:
df

           Category                                            Product
0        Home Decor  [FAMILY PHOTO FRAME CORNICE, WHITE MURANO TWIS...
1        Home Decor  [GLASS CLOCHE LARGE, SMALL WHITE HEART OF WICK...
2        Home Decor  [FRENCH BLUE METAL DOOR SIGN 0, BOTANICAL ROSE...
3        Home Decor  [BUNNY WOODEN PAINTED WITH BIRD, BLACK CHERRY ...
4        Home Decor  [S/3 POT POURI CUSHIONS BLUE COLOURS, PINK/WHI...
...             ...                                                ...
1831  Cushion Cover                                               None
1832  Cushion Cover                                               None
1833  Cushion Cover                                               None
1834  Cushion Cover                                               None
1835  Cushion Cover                     [CARD HOLDER LOVE BIRD LARGE ]

[1836 rows x 2 columns]

#### Find None value and drop it.

In [13]:
df.dropna(subset=['Product'], inplace=True)

In [14]:
df

,Category,Product
0,Home Decor,"[FAMILY PHOTO FRAME CORNICE, WHITE MURANO TWIS..."
1,Home Decor,"[GLASS CLOCHE LARGE, SMALL WHITE HEART OF WICK..."
2,Home Decor,"[FRENCH BLUE METAL DOOR SIGN 0, BOTANICAL ROSE..."
3,Home Decor,"[BUNNY WOODEN PAINTED WITH BIRD, BLACK CHERRY ..."
4,Home Decor,"[S/3 POT POURI CUSHIONS BLUE COLOURS, PINK/WHI..."
...,...,...
1767,Birthday Card,[ELEPHANT BIRTHDAY CARD]
1784,Bags and Backpacks,[ROSE DU SUD DRAWSTRING BAG]
1801,Bracelets and Charms,"[TINY CRYSTAL BRACELET GREEN, BLUE CRYSTAL BOO..."
1818,Candle and Scented Products,[SET/9 CHRISTMAS T-LIGHTS SCENTED ]
1835,Cushion Cover,[CARD HOLDER LOVE BIRD LARGE ]

#### Name of Item Categories

In [16]:
categories = df['Category'].unique()
categories

array(['Home Decor', 'Crafts & Sewing', 'Accessories',
       'Stationery & Office Supplies', 'Kitchen & Dining',
       'Home & Living', 'Toys & Games', 'Other', 'Cottage Garden', 'Toys',
       'Christmas', 'Sewing & Crafts', 'Beauty & Accessories',
       'Home & Garden', 'Miscellaneous', 'Bathroom Decor',
       'Kitchen and Dining', 'Jewelry', 'Toys & Gifts',
       'Jewelry & Accessories', 'Stationery', 'Journals', 'Mugs',
       'Easter Products', 'Gifts & Accessories', 'Craft & DIY Supplies',
       'Keepsake Box', 'Dog Bowl', 'Bracelet', 'Christmas Decorations',
       'Table Clock', 'Kitchen Tools', 'Gift Boxes', 'Candle Holders',
       'Easter Decorations', 'Soap Dish', 'Money Box', 'Wall Art',
       'Hair Accessories', 'Christmas Tree', 'Sunglasses', 'Garden Decor',
       'Umbrella', 'Necklace', 'Pouffe', 'Mirrored Wall Art',
       'Napkin Rings', 'Lighting', 'Doormat', 'Damaged Items',
       'Paper Napkins', 'Pencil Sharpener', 'Tree Decoration',
       'Butter Dish', 'Bread Bin', 'Photo Frame',
       'Jewelry and Accessories', 'Storage and Organization',
       'Uncategorized', 'Kitchenware', 'Gifts & Novelties',
       'Seasonal & Holiday', 'Christmas Decor', 'Home Fragrance',
       'Christmas Cards', 'Fashion', 'Bathroom Accessories',
       'Gift Wrapping', 'Garden Tools', 'Uncategorizable/Unknown',
       'Butterflies Decor', 'Stationery & Craft', 'Kids & Toys',
       'Fashion & Accessories', 'Keychains & Accessories', 'Incense',
       'Samples', 'Christmas Products', 'Coat Racks & Hooks',
       'Tableware & Dining', 'Jewelry & Necklaces', 'Home Decor & Art',
       'Bags & Purses', 'Cushions & Covers', 'Kitchen & Home Utility',
       'Hand Warmers & Heat Packs', 'Napkin & Table Accessories',
       'Mirrors & Wall Art', 'Necklaces & Pendants', 'Candles',
       'Stickers & Labels', 'Wash Bags & Toiletries', 'Storage', 'Bags',
       'Cards', 'Gifts & Souvenirs', 'Christmas & Holidays',
       'Party & Events', 'Party Supplies', "Children's Items",
       'Bags and Accessories', 'Gifts and Novelties', 'Cosmetics Bag',
       'Birthday Card', 'Bags and Backpacks', 'Bracelets and Charms',
       'Candle and Scented Products', 'Cushion Cover'], dtype=object)

#### Total number of Categories.

In [24]:
category_counts = df['Category'].value_counts().sum()
category_counts

166

#### Category with highest product.

In [29]:
category_product_counts = df['Category'].value_counts()
highest_product_category = category_product_counts.idxmax()
highest_product_category

'Home Decor'

#### Read Online Retail Excel File.

In [30]:
df1 = pd.read_excel('Online Retail.xlsx')
df1

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

#### Add sales column to Data Frame.(Qty * Price)

In [31]:
df1['Sales'] = df1['Quantity'] * df1['UnitPrice']

In [32]:
df1

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Sales
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85

#### Highest selling 3 products.

In [34]:
sorted_df = df1.sort_values(by='Sales', ascending=False)
top_n = 3
top_selling_products = sorted_df.head(top_n)
top_selling_products

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Sales
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom,168469.6
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,77183.6
222680,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098.0,United Kingdom,38970.0