#### Import all libraries

In [33]:
import os
import json
import pandas as pd
import glob
import math
import matplotlib.pyplot as plt
import plotly.express as px

#### Get Data from all json file and put that data in new json File with combined data from all json file.

In [2]:
json_files_path = 'D:\\Pooja\\Pandas\\Store Analysis CategoryWise\\'
json_files = glob.glob(os.path.join(json_files_path, "*.json"))

In [3]:
all_data = []
for file_path in json_files:
    with open(file_path, 'r') as json_file:
        data = json.load(json_file)
        all_data.extend(data.items())

#### Create a Json file with combined data.

In [4]:
with open('allData.json', 'w') as output_file:
    json.dump(dict(all_data), output_file, indent=2)

#### Read data from json file and create new Column in excel file called 'Category' put all category according to Description(Product name) for analyse the data.

In [5]:
excel_file_path = 'Online Retail.xlsx' 
df = pd.read_excel(excel_file_path)

In [6]:
with open('allData.json', 'r') as json_file:
    category_data = json.load(json_file)

In [7]:
def match_category(item):
    return category_data.get(item, "Others")
df['Category'] = df['Description'].apply(match_category)

output_excel_file = 'Online Retail2.xlsx'
df.to_excel(output_excel_file, index=False)
print("Category column added to the Excel file.")

Category column added to the Excel file.

#### Read Excel File.

In [24]:
data = pd.read_excel("Online Retail2.xlsx")
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Category
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,T-Light Holders
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Lanterns
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,Coat Hangers
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Hot Water Bottles
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Hotties
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,Outdoor and Travel
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,Others
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,Others
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,Others
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,Others

#### Find data type for all column.

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
 8   Category     541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 37.2+ MB

#### Add Sales Column.

In [8]:
df['Sales'] = df['Quantity'] * df['UnitPrice']
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Category,Sales
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,T-Light Holders,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Lanterns,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,Coat Hangers,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Hot Water Bottles,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Hotties,20.34
...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,Outdoor and Travel,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,Others,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,Others,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,Others,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,Others,14.85

#### All category name used for analysis.

In [9]:
categories = df['Category'].unique()
categories

array(['T-Light Holders', 'Lanterns', 'Coat Hangers', 'Hot Water Bottles',
       'Hotties', 'Home Decor', 'Hand Warmers & Heat Packs',
       'Hand Warmers', 'Ornaments', 'Others', 'Playhouses', 'Dolls',
       'Kitchenware', 'Miscellaneous', 'Kitchen Accessories',
       'Kitchen and Dining', 'Coat Racks & Hooks', 'Clocks', 'Stationery',
       'Kitchen Supplies', 'Bags and Accessories', 'Fashion', 'Mugs',
       'Cabinets', 'Frames', 'Sewing', 'Bags', 'Kitchen',
       'Kitchen & Dining', 'Accessories', 'Gifts and Novelties',
       'Parasols', 'Gifts & Souvenirs', 'Umbrella', 'Toys & Games',
       'Home & Living', 'Crafts and Games', 'Party Supplies',
       'Sewing & Crafts', 'Bags & Purses', 'Photo Frames', 'Decorations',
       'Metal Signs', 'Doormats', 'Candles', 'Christmas Decorations',
       'Bathroom Accessories', "Kids' Items", 'Jewelry and Accessories',
       'Other', 'Fashion & Accessories', 'Christmas & Holidays',
       'Stationery & Craft', 'Crafts & Toys', 'Cards', 'Kids & Toys',
       'Bracelets and Charms', 'Candle and Scented Products',
       'Cake Accessories', 'Gift Boxes', 'Craft Kits',
       'Garden and Outdoor', 'Textiles', 'Napkin & Table Accessories',
       'Storage and Organization', 'Gifts & Novelties', 'Christmas',
       'Art and Craft Supplies', 'FLAG', 'Stationary', 'Bags and Totes',
       'Kitchen & Home Utility', 'Toy', 'Stationery Set',
       'Greeting Cards', 'Crafts and Hobby', 'Wash Bags & Toiletries',
       'Tableware & Dining', 'Kids and Toys', 'Crafts & Sewing',
       'Bag Charms', 'Bracelets', 'Earrings', 'Hair Accessories',
       'Key Rings', 'Notebooks', 'Toys', 'Purses', 'Cosmetics Bag',
       'Home Decor & Art', 'Jewelry', 'Childhood Memory', 'Art and Decor',
       'Fashion and Accessories', 'Home and Living', 'Stickers & Labels',
       'Wall Art', 'Incense', 'Bags and Backpacks', 'Toys & Gifts',
       'Office Supplies', 'Craft and DIY', 'Jewelry & Necklaces', 'Kids',
       'Outdoor and Garden', 'Jewelry & Accessories', 'Candle Holders',
       "Children's Items", 'Home & Garden', 'Gifts & Accessories',
       'Christmas Decor', 'Outdoor and Travel', 'Gifts and Decorations',
       'Fashion Accessories', 'Samples', 'Canvas Art', 'Fees',
       'Keychains & Accessories', 'Scissors', 'Gifts', 'Easter Products',
       'Dog Bowl', 'Gift Wraps', 'Bags and Purses', 'Easter Decorations',
       'Lights and Lamps', 'Table Clock', 'Seasonal & Holiday',
       'Seasonal', 'Sunglasses', 'Beauty & Accessories', 'Home Fragrance',
       'Thrown Away', 'Doormat', 'Unknown', 'Soap and Bath Accessories',
       'Party & Events', 'Gardening', 'Uncategorized', 'Damaged Items',
       'Hanging Decorations', 'Wooden Decorations', 'Vintage Items',
       'Storage Tins', 'Doilies', 'Umbrella Stand', 'Picnic Basket',
       'Ceramic Decorations', 'Necklace', 'Kitchen Items', 'Enamel Items',
       'Table Lamps', 'Notepads and Lists', 'Apothecary Items',
       'Doorknobs', 'Drawer and Cabinet Knobs', 'Storage and Containers',
       'Decor and Ornaments', 'Accessories and Charms',
       'Gift and Wrapping', 'Household', 'Cushions & Covers',
       'Art Supplies', 'Craft Supplies', 'Cushion Cover', 'Lighting',
       'Craft & DIY Supplies', 'Uncategorizable/Unknown'], dtype=object)

#### Total Sales per country.

In [27]:
country_sales = df.groupby('Country')['Sales'].sum()
country_sales

Country
Australia                137077.270
Austria                   10154.320
Bahrain                     548.400
Belgium                   40910.960
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20086.290
Cyprus                    12946.290
Czech Republic              707.720
Denmark                   18768.140
EIRE                     263276.820
European Community         1291.750
Finland                   22326.740
France                   197403.900
Germany                  221698.210
Greece                     4710.520
Hong Kong                 10117.040
Iceland                    4310.000
Israel                     7907.820
Italy                     16890.510
Japan                     35340.620
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2505.470
Netherlands              284661.540
Norway                    35163.460
Poland                     7213.140
Portugal                  29367.020
RSA                        1002.310
Saudi Arabia                131.170
Singapore                  9120.390
Spain                     54774.580
Sweden                    36595.910
Switzerland               56385.350
USA                        1730.920
United Arab Emirates       1902.280
United Kingdom          8187806.364
Unspecified                4749.790
Name: Sales, dtype: float64

#### Pie Chart For Country wise sales.

In [34]:
fig = px.pie(country_sales,
             values= country_sales,
             names="Country",
             title="Percent of Total Sales by Country",
             color_discrete_sequence=px.colors.qualitative.G10
            )
fig.update_traces(
                  textposition="inside",
                  textinfo="percent+label"
                 )
fig.update_layout(
                  margin=dict(l=10, r=50, b=10, t=70, pad=0),
                  titlefont = dict(size = 20)
                 )
iplot(fig)

ValueError: Value of 'names' is not the name of a column in 'data_frame'. Expected one of ['Sales'] but received: Country

#### Which category has the highest Product.

In [10]:
category_product_counts = df['Category'].value_counts()
highest_product_category = category_product_counts.idxmax()
highest_product_category

'Others'

#### Total Sales for 'Others' Category.

In [11]:
total_sales_others = df.loc[df['Category'] == 'Others', 'Sales'].sum()
total_sales_others

3962869.5710000005

#### Highest Sold Product.

In [12]:
category_product_counts = df['Description'].value_counts()
highest_product_category = category_product_counts.idxmax()
highest_product_category

'WHITE HANGING HEART T-LIGHT HOLDER'

#### Highest product sold in United Kingdom

In [13]:
df_uk = df[df['Country'] == 'United Kingdom']
product_sales = df_uk.groupby('Description')['Sales'].sum()
highest_selling_product_uk = product_sales.idxmax()
highest_selling_product_uk

'DOTCOM POSTAGE'